
    
a.tooltipClear span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:400px; margin-left:250px;
    width:200px; line-height:16px;
}

a.tooltipClear:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:400px;border:0;left:270px;}
    
a.tooltipRandom span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:550px; margin-left:250px;
    width:250px; line-height:16px;
}

a.tooltipRandom:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:550px;border:0;left:270px;}	

a.tooltip,.tooltip1,.tooltip3 span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }